@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@font-face {
  font-family: "Cafe24Dongdong";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  letter-spacing: -0.04em;
  background-color: #e3e0dd;
  font-size: 16px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1028px) {
  .container {
    padding: 0 10px;
  }
}

input, textarea, button, select, pre {
  font-family: inherit;
  letter-spacing: -0.04em;
}

ul, ol {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.click {
  cursor: pointer;
}
.click div, .click h1, .click span, .click img {
  pointer-events: none;
}

address {
  font-style: normal;
}

button {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}

a, input, button, select, label {
  cursor: pointer;
}

section > h2 {
  display: none;
}

header, main, footer {
  display: block;
}

body {
  overflow-y: overlay;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}
@media screen and (min-width: 768px) {
  body::-webkit-scrollbar {
    width: 10px;
  }
}
body::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #ff5da2; /* 스크롤바의 색상 */
  border-radius: 10px;
}
body.scroll-stop {
  height: 100%;
  position: fixed;
}

#wraper #cursor {
  position: absolute;
  width: 12px;
  height: 12px;
  pointer-events: none;
  transform: scale(0);
  border-radius: 50%;
  background-color: #ff5da2;
  transition: all 0.3s;
}
#wraper #cursor.on {
  z-index: 99;
  transform: scale(1);
}
#wraper #cursor.pointer {
  transform: scale(2);
  opacity: 0.5;
  background-color: #ddff0d;
}
#wraper header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 87;
  background-color: transparent;
  transition: all 0.3s;
}
@media screen and (min-width: 1028px) {
  #wraper header {
    border-bottom: 1px solid #fff;
  }
  #wraper header:hover {
    background-color: #222;
  }
}
#wraper header .header-inner {
  margin: 30px 20px 0;
}
@media screen and (min-width: 1028px) {
  #wraper header .header-inner {
    margin-bottom: 30px;
    margin-left: 100px;
  }
}
#wraper header .header-inner .logo {
  width: 34px;
  height: 34px;
  z-index: 88;
}
@media screen and (min-width: 768px) {
  #wraper header .header-inner .logo {
    width: 40px;
    height: 40px;
  }
}
#wraper header .header-inner .logo a img {
  width: 100%;
}
#wraper header .header-inner #mobileGnb,
#wraper header .header-inner .gnb {
  z-index: 89;
  position: absolute;
}
#wraper header .header-inner #mobileGnb li a,
#wraper header .header-inner .gnb li a {
  width: 100%;
  text-align: center;
}
#wraper header .header-inner #mobileGnb li a span,
#wraper header .header-inner .gnb li a span {
  font-weight: 500;
}
#wraper header .header-inner #mobileGnb li a span.kr,
#wraper header .header-inner .gnb li a span.kr {
  display: none;
}
#wraper header .header-inner #mobileGnb li a:hover .eng,
#wraper header .header-inner .gnb li a:hover .eng {
  display: none;
}
#wraper header .header-inner #mobileGnb li a:hover .kr,
#wraper header .header-inner .gnb li a:hover .kr {
  display: block;
}
#wraper header .header-inner .mobile-menu-wrap {
  background-color: violet;
}
@media screen and (min-width: 768px) {
  #wraper header .header-inner .mobile-menu-wrap {
    display: none;
  }
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box {
  position: absolute;
  right: 20px;
  top: 34px;
  z-index: 90;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box span:nth-child(2) {
  background-color: #ddff0d;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box span + span {
  margin-top: 10px;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span {
  background-color: #222;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span:nth-child(2) {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  background-color: #ddff0d;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span:first-child, #wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span:last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 3px;
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
#wraper header .header-inner .mobile-menu-wrap .mobile-menu-bt .bt-box.on span + span {
  margin-top: 0;
}
#wraper header .header-inner .mobile-menu-wrap #mobileGnb {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/cat_ear.svg") #222 no-repeat center bottom;
  background-size: 80%;
  transition: all 0.8s;
}
#wraper header .header-inner .mobile-menu-wrap #mobileGnb.on {
  left: 0;
}
#wraper header .header-inner .mobile-menu-wrap #mobileGnb li:first-child {
  margin-top: 140px;
}
#wraper header .header-inner .mobile-menu-wrap #mobileGnb li + li {
  margin-top: 60px;
}
#wraper header .header-inner .mobile-menu-wrap #mobileGnb li a span {
  font-size: 34px;
}
#wraper header .header-inner #gnbWrap .gnb {
  display: none;
  position: absolute;
  top: 35px;
  right: 30px;
  width: 540px;
}
@media screen and (min-width: 768px) {
  #wraper header .header-inner #gnbWrap .gnb {
    display: flex;
    justify-content: space-between;
  }
}
#wraper header .header-inner #gnbWrap .gnb li {
  position: relative;
  width: 120px;
}
#wraper header .header-inner #gnbWrap .gnb li span.dot {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5da2;
  -webkit-animation: 0.5s bounce alternate infinite cubic-bezier(0.1, 0.1, 0.1, 0.8);
          animation: 0.5s bounce alternate infinite cubic-bezier(0.1, 0.1, 0.1, 0.8);
}
@-webkit-keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -12px;
  }
}
@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -12px;
  }
}
#wraper header .header-inner #gnbWrap .gnb li a {
  padding: 5px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
#wraper header .header-inner #gnbWrap .gnb li a span {
  font-size: 24px;
}
#wraper main {
  word-break: keep-all;
}
#wraper main .index-wrap > h3 {
  font-size: 20px;
}
@media screen and (min-width: 1028px) {
  #wraper main .index-wrap > h3 {
    font-size: 24px;
  }
}
#wraper main section#homeWrap {
  position: relative;
  background-color: #222;
  transition: opacity 0.15s ease-out;
}
@media screen and (min-width: 1028px) {
  #wraper main section#homeWrap {
    cursor: none;
  }
}
#wraper main section#homeWrap .home {
  position: relative;
}
#wraper main section#homeWrap .home .background-bk, #wraper main section#homeWrap .home .background-neon {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#wraper main section#homeWrap .home .home-txt {
  padding-top: 145px;
}
@media screen and (min-width: 1028px) {
  #wraper main section#homeWrap .home .home-txt {
    padding-top: 220px;
  }
}
#wraper main section#homeWrap .home .home-txt > span {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  #wraper main section#homeWrap .home .home-txt > span {
    font-size: 30px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#homeWrap .home .home-txt > span {
    font-size: 40px;
  }
}
#wraper main section#homeWrap .home .home-txt > span strong {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  #wraper main section#homeWrap .home .home-txt > span strong {
    font-size: calc(1em + 20px);
  }
}
#wraper main section#homeWrap .home .home-txt > span strong .point-txt {
  color: #ff5da2;
}
#wraper main section#homeWrap .home .home-img {
  width: 82.5641025641%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: -23.0769230769%;
}
@media screen and (min-width: 1028px) {
  #wraper main section#homeWrap .home .home-img {
    width: 39.4270833333%;
    margin-top: -25px;
    margin-left: auto;
    margin-right: 0;
  }
}
#wraper main section#homeWrap .home .mouse-pointer {
  display: none;
  position: absolute;
  top: -240px;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s;
}
#wraper main section#homeWrap .home .mouse-pointer.scale {
  transform: scale(1);
}
@media screen and (min-width: 1028px) {
  #wraper main section#homeWrap .home .mouse-pointer {
    display: block;
  }
}
#wraper main section#homeWrap .home .mouse-pointer .background-neon {
  position: absolute;
  background-color: #ddff0d;
}
#wraper main section#homeWrap .home .mouse-pointer .background-neon .home-box {
  position: relative;
  height: 100vh;
}
#wraper main section#homeWrap .home .mouse-pointer .background-neon .home-box .home-txt,
#wraper main section#homeWrap .home .mouse-pointer .background-neon .home-box .hidden-txt {
  color: #222;
}
#wraper main section#homeWrap .home .mouse-pointer .background-neon .home-box .hidden-txt {
  position: absolute;
  left: 23.9130434783%;
  top: 44.9275362319%;
  font-family: Cafe24Dongdong;
}
#wraper main section#homeWrap .home .mouse-pointer .background-neon .home-box .hidden-arrow {
  position: absolute;
  left: 50%;
  bottom: 27px;
  transform: translateX(-50%);
  width: 6.884057971%;
}
#wraper main section#aboutWrap .about {
  padding-top: 75px;
  color: #222;
}
@media screen and (min-width: 768px) {
  #wraper main section#aboutWrap .about {
    padding-top: 120px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#aboutWrap .about {
    padding-top: 230px;
  }
}
#wraper main section#aboutWrap .about .about-title {
  text-align: center;
}
#wraper main section#aboutWrap .about .about-title strong {
  display: block;
  font-size: 22px;
  line-height: 30px;
  transition: transform 1.2s ease-in-out;
}
#wraper main section#aboutWrap .about .about-title strong:first-child {
  transform: translateX(-100%);
}
#wraper main section#aboutWrap .about .about-title strong:last-child {
  transform: translateX(100%);
}
#wraper main section#aboutWrap .about .about-title strong.center-in {
  transform: translate(0);
}
@media screen and (min-width: 768px) {
  #wraper main section#aboutWrap .about .about-title strong {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#aboutWrap .about .about-title strong {
    font-size: 64px;
    line-height: 75px;
  }
}
#wraper main section#aboutWrap .about .about-title strong .point-txt {
  color: #ff5da2;
}
#wraper main section#aboutWrap .about .about-flex {
  margin-top: 100px;
}
@media screen and (min-width: 768px) {
  #wraper main section#aboutWrap .about .about-flex {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#aboutWrap .about .about-flex {
    width: 84.0579710145%;
    margin-top: 200px;
  }
}
@media screen and (min-width: 768px) {
  #wraper main section#aboutWrap .about .about-flex .about-txt {
    margin-top: 80px;
    margin-right: 20px;
    width: 47.1014492754%;
    order: 2;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#aboutWrap .about .about-flex .about-txt {
    margin-top: 7.2463768116%;
    width: 47.1014492754%;
  }
}
#wraper main section#aboutWrap .about .about-flex .about-txt p {
  font-size: 1em;
  line-height: calc(1em + 14px);
  text-align: justify;
}
#wraper main section#aboutWrap .about .about-flex .about-img {
  margin-top: 90px;
  margin-left: 20%;
  width: 200px;
  aspect-ratio: 4/5;
  background-color: #eee;
}
@media screen and (min-width: 768px) {
  #wraper main section#aboutWrap .about .about-flex .about-img {
    margin-top: 0;
    margin-left: 0;
    width: 300px;
    order: 1;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#aboutWrap .about .about-flex .about-img {
    margin-left: 80px;
    width: 28.2608695652%;
  }
}
#wraper main section#attitudeWrap {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #222;
}
@media screen and (min-width: 768px) {
  #wraper main section#attitudeWrap {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap {
    padding-top: 140px;
    padding-bottom: 200px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .index-wrap {
  text-align: right;
}
#wraper main section#attitudeWrap .attitude-inner .index-wrap .index {
  display: flex;
  justify-content: right;
}
#wraper main section#attitudeWrap .attitude-inner .index-wrap .index span {
  display: block;
  width: 11px;
  height: 11px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ddd;
  transition: transform 0.3s;
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .index-wrap .index span {
    width: 13px;
    height: 13px;
    margin-top: 20px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .index-wrap .index span + span {
  margin-left: 18px;
}
#wraper main section#attitudeWrap .attitude-inner .index-wrap .index span.on {
  transform: scale(1.3);
  background-color: #ddff0d;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area {
  margin-top: 50px;
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area {
    margin-top: 66px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .title h4 {
  position: relative;
  font-size: 60px;
}
@media screen and (min-width: 768px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .title h4 {
    font-size: 100px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .title h4 {
    margin-left: 160px;
    font-size: 150px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .title h4::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #222;
  transition: height 0.4s;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .title h4.up::after {
  height: 0%;
}
@media screen and (min-width: 768px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex {
    display: flex;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box {
  position: relative;
  margin: 0 auto;
  width: 240px;
}
@media screen and (min-width: 768px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box {
    margin-left: 55px;
    width: 320px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box {
    width: 320px;
    margin-left: 21.7391304348%;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .img {
  position: relative;
  margin-top: -20px;
  width: 100%;
  aspect-ratio: 32/39;
  background: url(../images/attitude\(0\).png) no-repeat center top;
  background-size: 110%;
}
@media screen and (min-width: 768px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .img {
    margin-top: -30px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .img {
    margin-top: -45px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .img::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ff5da2;
  transition: width 0.3s linear;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .img.coverOut::before {
  width: 0%;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .con-change {
  position: absolute;
  left: 50%;
  bottom: -24px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 158px;
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .con-change {
    width: 178px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .con-change .prev, #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .con-change .next {
  width: 54px;
  height: 50px;
  transition: all 0.3s;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .con-change .prev:hover, #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .img-con-change-box .con-change .next:hover {
  transform: scale(1.2);
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt {
  margin-top: 50px;
  font-size: 1em;
  line-height: calc(1em + 10px);
}
@media screen and (min-width: 768px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt {
    margin: 70px 40px 0;
    font-size: 18px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt {
    margin-left: 70px;
    margin-right: 190px;
    font-size: 20px;
    width: 500px;
  }
}
@media screen and (min-width: 1400px) {
  #wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt {
    margin-top: 140px;
  }
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt p {
  position: relative;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt p::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #222;
  transition: height 0.4s;
}
#wraper main section#attitudeWrap .attitude-inner .attitude-area .attitude-flex .attitude-txt p.up::after {
  height: 0%;
}
#wraper main section#skillWrap {
  position: relative;
  padding-top: 50px;
  background-color: #222;
}
@media screen and (min-width: 768px) {
  #wraper main section#skillWrap {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap {
    padding-top: 150px;
  }
}
#wraper main section#skillWrap.detail-overlay {
  overflow: hidden;
}
#wraper main section#skillWrap.detail-overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
#wraper main section#skillWrap .skill h3 {
  font-size: 20px;
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill h3 {
    font-size: 30px;
  }
}
#wraper main section#skillWrap .skill #skillList .perspective,
#wraper main section#skillWrap .skill #skillDetail .perspective {
  position: relative;
  perspective: 2000px;
  perspective-origin: -600px 500px;
}
#wraper main section#skillWrap .skill #skillList .perspective .cube,
#wraper main section#skillWrap .skill #skillDetail .perspective .cube {
  position: relative;
  transform-style: preserve-3d;
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div,
#wraper main section#skillWrap .skill #skillDetail .perspective .cube > div {
  position: absolute;
  left: 0;
  top: 0;
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div span,
#wraper main section#skillWrap .skill #skillDetail .perspective .cube > div span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: auto;
  font-family: Cafe24Dongdong;
}
#wraper main section#skillWrap .skill #skillList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0 20px;
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillList {
    margin-top: 80px;
    justify-content: space-between;
  }
}
#wraper main section#skillWrap .skill #skillList .perspective {
  padding-top: 20px;
  width: 50%;
  height: 160px;
}
@media screen and (min-width: 768px) {
  #wraper main section#skillWrap .skill #skillList .perspective {
    width: 25%;
    height: 180px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillList .perspective {
    height: 360px;
  }
}
#wraper main section#skillWrap .skill #skillList .perspective:nth-child(1) .cube, #wraper main section#skillWrap .skill #skillList .perspective:nth-child(8) .cube {
  -webkit-animation-name: cuberotate01;
          animation-name: cuberotate01;
}
#wraper main section#skillWrap .skill #skillList .perspective:nth-child(2) .cube, #wraper main section#skillWrap .skill #skillList .perspective:nth-child(7) .cube {
  -webkit-animation-name: cuberotate02;
          animation-name: cuberotate02;
}
#wraper main section#skillWrap .skill #skillList .perspective:nth-child(3) .cube, #wraper main section#skillWrap .skill #skillList .perspective:nth-child(6) .cube {
  -webkit-animation-name: cuberotate03;
          animation-name: cuberotate03;
}
#wraper main section#skillWrap .skill #skillList .perspective:nth-child(4) .cube, #wraper main section#skillWrap .skill #skillList .perspective:nth-child(5) .cube {
  -webkit-animation-name: cuberotate04;
          animation-name: cuberotate04;
}
@-webkit-keyframes cuberotate01 {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes cuberotate01 {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes cuberotate02 {
  from {
    transform: rotateZ(50deg) rotateY(360deg);
  }
  to {
    transform: rotateZ(50deg) rotateY(0);
  }
}
@keyframes cuberotate02 {
  from {
    transform: rotateZ(50deg) rotateY(360deg);
  }
  to {
    transform: rotateZ(50deg) rotateY(0);
  }
}
@-webkit-keyframes cuberotate03 {
  from {
    transform: rotateZ(-50deg) rotateY(0);
  }
  to {
    transform: rotateZ(-50deg) rotateY(360deg);
  }
}
@keyframes cuberotate03 {
  from {
    transform: rotateZ(-50deg) rotateY(0);
  }
  to {
    transform: rotateZ(-50deg) rotateY(360deg);
  }
}
@-webkit-keyframes cuberotate04 {
  from {
    transform: rotateX(230deg) rotateZ(230deg) rotateY(0);
  }
  to {
    transform: rotateX(230deg) rotateZ(230deg) rotateY(360deg);
  }
}
@keyframes cuberotate04 {
  from {
    transform: rotateX(230deg) rotateZ(230deg) rotateY(0);
  }
  to {
    transform: rotateX(230deg) rotateZ(230deg) rotateY(360deg);
  }
}
#wraper main section#skillWrap .skill #skillList .perspective .cube {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}
#wraper main section#skillWrap .skill #skillList .perspective .cube:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#wraper main section#skillWrap .skill #skillList .perspective .cube:hover > div {
  color: #222;
  border-color: #222;
  background-color: #e3e0dd;
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillList .perspective .cube {
    width: 130px;
    height: 130px;
  }
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div {
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: #222;
  width: 80px;
  height: 80px;
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div.front {
  transform: translateZ(40px);
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div.back {
  transform: scaleX(-1) translateZ(-40px);
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div.top {
  transform: rotateX(90deg) translateZ(40px);
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div.bottom {
  transform: rotateX(-90deg) translateZ(40px);
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div.left {
  transform: rotateY(-90deg) translateZ(40px);
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div.right {
  transform: rotateY(90deg) translateZ(40px);
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div {
    width: 130px;
    height: 130px;
  }
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div.front {
    transform: translateZ(65px);
  }
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div.back {
    transform: scaleX(-1) translateZ(-65px);
  }
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div.top {
    transform: rotateX(90deg) translateZ(65px);
  }
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div.bottom {
    transform: rotateX(-90deg) translateZ(65px);
  }
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div.left {
    transform: rotateY(-90deg) translateZ(65px);
  }
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div.right {
    transform: rotateY(90deg) translateZ(65px);
  }
}
#wraper main section#skillWrap .skill #skillList .perspective .cube > div span {
  font-size: calc(1em + 4px);
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillList .perspective .cube > div span {
    font-size: 32px;
  }
}
#wraper main section#skillWrap .skill #skillDetail {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  z-index: 2;
  display: none;
  transition: opacity 0.1s;
  opacity: 0;
}
#wraper main section#skillWrap .skill #skillDetail.on {
  display: block;
  opacity: 1;
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 1400px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner {
    width: 1380px;
  }
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective {
  transform: translate(60px, -30px);
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective {
    transform: translate(40px, 20px);
  }
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div {
  color: #555;
  border: 2px solid #555;
  background-color: #e3e0dd;
  width: 80px;
  height: 80px;
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.front {
  transform: translateZ(40px);
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.back {
  transform: scaleX(-1) translateZ(-40px);
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.top {
  transform: rotateX(90deg) translateZ(40px);
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.bottom {
  transform: rotateX(-90deg) translateZ(40px);
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.left {
  transform: rotateY(-90deg) translateZ(40px);
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.right {
  transform: rotateY(90deg) translateZ(40px);
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div {
    width: 280px;
    height: 280px;
    border-width: 5px;
  }
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.front {
    transform: translateZ(140px);
  }
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.back {
    transform: scaleX(-1) translateZ(-140px);
  }
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.top {
    transform: rotateX(90deg) translateZ(140px);
  }
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.bottom {
    transform: rotateX(-90deg) translateZ(140px);
  }
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.left {
    transform: rotateY(-90deg) translateZ(140px);
  }
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div.right {
    transform: rotateY(90deg) translateZ(140px);
  }
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div span {
  font-size: calc(1em + 4px);
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .perspective .cube > div span {
    font-size: 60px;
  }
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap {
  height: 200px;
  border: 2px solid #555;
  background-color: #e3e0dd;
}
@media screen and (min-width: 768px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap {
    height: 240px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap {
    height: 280px;
    border-width: 5px;
    margin-left: 330px;
  }
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap .close {
  margin: 20px 20px auto auto;
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap .close:hover {
  transform: rotateZ(180deg);
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap .txt-inner {
  padding: 40px 22px 60px;
}
@media screen and (min-width: 768px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap .txt-inner {
    padding: 50px 60px 90px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap .txt-inner {
    padding: 70px 100px 0;
  }
}
#wraper main section#skillWrap .skill #skillDetail .detail-inner .txt-wrap .txt-inner p {
  text-align: justify;
  color: #222;
  font-size: calc(1em - 2px);
  line-height: calc(1em - 2px + 10px);
}
#wraper main section#portfolioWrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#portfolioWrap {
    padding: 80px 5.2083333333%;
  }
}
#wraper main section#portfolioWrap .portfolio-area {
  color: #222;
}
#wraper main section#portfolioWrap .portfolio-area > h3 {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  font-size: 100px;
  z-index: -1;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap .portfolio-area > h3 {
    font-size: 140px;
  }
}
@media screen and (min-width: 1028px) {
  #wraper main section#portfolioWrap .portfolio-area > h3 {
    font-size: 200px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap {
  perspective: 2000px;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap + .item-wrap {
  margin-top: 100px;
}
@media screen and (min-width: 1028px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap + .item-wrap {
    margin-top: 112px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap.up .item-inner {
  box-shadow: 0 7px 40px 4px rgba(0, 0, 0, 0.2);
  transform: rotateX(0) translateZ(0) translateY(0);
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner {
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  transform: rotateX(30deg) translateZ(-400px) translateY(180px);
  transition-property: box-shadow, transform;
  transition-delay: 1s, 0;
  transition-duration: 1s, 1s;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner {
    margin: 0 auto 0;
    aspect-ratio: 16/9;
    border-radius: 50px;
    transform: rotateX(30deg) translateZ(-400px) translateY(400px);
  }
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area {
    display: flex;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-img {
  width: 100%;
  height: 330px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-img {
    height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-img {
    width: 55.2325581395%;
    height: 100%;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-img img {
  width: 100%;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 20px 50px;
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con {
    width: 51.1627906977%;
    padding: 65px 50px;
  }
}
@media screen and (min-width: 1400px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con {
    padding: 100px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap {
  order: 2;
  margin: 30px auto 0;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap {
    order: 1;
    margin: 0;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap h3 {
  display: none;
  text-align: right;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap h3 {
    display: block;
    font-size: 20px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index {
  display: flex;
  justify-content: right;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span {
  display: block;
  width: 11px;
  height: 11px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ddd;
  transition: transform 0.3s;
}
@media screen and (min-width: 1028px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span {
    width: 13px;
    height: 13px;
    margin-top: 20px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span + span {
  margin-left: 18px;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span.on {
  transform: scale(1.3);
  background-color: #ddff0d;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span {
  width: 12px;
  height: 12px;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span + span {
  margin-left: 14px;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .index-wrap .index span.on {
  background-color: #222;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link {
  order: 1;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link {
    order: 2;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1400px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link {
    order: 2;
    margin-top: 11.7647058824%;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .title-box {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .title-box {
    text-align: left;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .title-box strong {
  font-size: calc(1em + 6px);
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .title-box strong {
    font-size: 30px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .title-box span {
  display: block;
  color: #aaa;
  font-size: calc(1em - 2px);
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box {
    margin-top: 60px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li {
  display: flex;
  font-size: 1em;
  line-height: calc(1em + 10px);
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li {
    font-size: 18px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p + li, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li + li {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p + li, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li + li {
    margin-top: 20px;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p b, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li b {
  width: 20%;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p b, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li b {
    width: 25%;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p span, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li span {
  width: 80%;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box p span, #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .text-box li span {
    width: 75%;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .link-box {
  display: flex;
  margin-top: 45px;
}
@media screen and (min-width: 1400px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .link-box {
    margin-top: 11.7647058824%;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .link-box li {
  overflow: hidden;
  border: 1px solid #ff5da2;
  border-radius: 100px;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .link-box li + li {
  margin-left: 8px;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .link-box li a {
  padding: 3px 10px;
  min-width: 60px;
  text-align: center;
  font-size: 1em;
  line-height: calc(1em + 10px);
  color: #ff5da2;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .title-text-link .link-box li a:hover {
  color: #fff;
  background-color: #ff5da2;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .more-box {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
@media screen and (min-width: 1200px) {
  #wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .more-box {
    bottom: 0;
  }
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .more-box .more-bt {
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  background-color: #ff5da2;
}
#wraper main section#portfolioWrap .portfolio-area ul.portfolio-list li.item-wrap .item-inner .item-area .item-con .more-box .more-bt span {
  font-size: 38px;
  line-height: 30px;
  font-weight: lighter;
  color: #fff;
}
#wraper footer {
  padding-top: 60px;
  background-color: #222;
}
@media screen and (min-width: 1028px) {
  #wraper footer {
    padding-top: 150px;
  }
}
@media screen and (min-width: 1400px) {
  #wraper footer {
    padding-top: 180px;
  }
}
#wraper footer .footer-inner {
  position: relative;
  height: 370px;
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner {
    height: 500px;
  }
}
#wraper footer .footer-inner .txt-wrap {
  text-align: center;
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner .txt-wrap {
    text-align: left;
    margin-left: 80px;
  }
}
#wraper footer .footer-inner .txt-wrap span, #wraper footer .footer-inner .txt-wrap strong {
  display: block;
}
#wraper footer .footer-inner .txt-wrap span {
  font-size: 16px;
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner .txt-wrap span {
    font-size: 26px;
  }
}
#wraper footer .footer-inner .txt-wrap strong {
  margin-top: 5px;
  font-size: 24px;
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner .txt-wrap strong {
    font-size: 44px;
  }
}
#wraper footer .footer-inner .txt-wrap strong .point-txt {
  color: #ff5da2;
}
#wraper footer .footer-inner #contact {
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner #contact {
    width: auto;
    left: 49.2753623188%;
    bottom: 140px;
  }
}
#wraper footer .footer-inner #contact a {
  transition: all 0.3s;
}
#wraper footer .footer-inner #contact a img {
  width: 220px;
  -webkit-animation: 1.5s linear email-bounce infinite;
          animation: 1.5s linear email-bounce infinite;
}
@-webkit-keyframes email-bounce {
  from {
    transform: rotateZ(30deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(30deg);
  }
}
@keyframes email-bounce {
  from {
    transform: rotateZ(30deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(30deg);
  }
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner #contact a img {
    width: 300px;
  }
}
#wraper footer .footer-inner #contact a img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#wraper footer .footer-inner .copyright {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
#wraper footer .footer-inner .copyright span {
  font-weight: lighter;
  font-size: calc(1em - 2px);
}
@media screen and (min-width: 1028px) {
  #wraper footer .footer-inner .copyright span {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */