// 반응형
$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1028px;
$break-pc-M: 1200px;
$break-pc-L: 1400px;

// 색상
$main-color: #222;
$main-color02: #e3e0dd;
$point-pink: #ff5da2;
$point-neon: #ddff0d;

// 글꼴
$main-font: Pretendard;
$point-font: Cafe24Dongdong;

// svg 이미지 색상 변경
// $svg-black: brightness(0) saturate(100%);