// 수직, 수평 정가운데 정렬
// 상위태그에 position: relative
@mixin position_center() {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

// 정사각형
@mixin square($size) {
    width: $size; height: $size;
}

// 폰트 사이즈 + 줄간격
@mixin font_height($size, $height: calc($size + 10px)) {
    font-size: $size;
    line-height: $height;
}

// 커버 생성
@mixin overlay($color) {
    position: absolute;
    top: 0; left: 0;
    display: block;
    content: '';
    width: 100%; height: 100%;
    background-color: $color;
}