@font-face {
  font-family: "Cafe24Dongdong";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #e12428;
  font-size: 20px;
  font-family: Cafe24Dongdong;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

input, textarea, button, select, pre {
  font-family: inherit;
}

table, th, td {
  border-collapse: collapse;
}

ul, ol {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.click {
  cursor: pointer;
}
.click * {
  pointer-events: none;
}

address {
  font-style: normal;
}

button {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}

a, input, button, select, label {
  cursor: pointer;
}

section > h2 {
  display: none;
}

header, main, footer {
  display: block;
}

.wrap .modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}
.wrap #musicModal .music-modal-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 50px;
  border-radius: 15px;
  background-color: #dcd3aa;
}
.wrap #musicModal .music-modal-box p {
  font-size: 24px;
  color: #222;
  font-weight: 600;
  text-align: center;
}
.wrap #musicModal .music-modal-box .btn-box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.wrap #musicModal .music-modal-box .btn-box button {
  width: 100px;
  padding: 8px 0 3px;
  font-size: 24px;
  color: #555;
  border: 3px dashed #555;
  border-radius: 100px;
}
.wrap #musicModal .music-modal-box .btn-box button:hover#musicStart {
  color: #fff;
  border-color: #0a71b3;
  background-color: #0a71b3;
}
.wrap #musicModal .music-modal-box .btn-box button:hover#musicCancel {
  color: #fff;
  border-color: #e12428;
  background-color: #e12428;
}
.wrap .title-music-control {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrap .title-music-control h1 {
  width: 300px;
}
.wrap .title-music-control h1 img {
  width: 100%;
}
.wrap .title-music-control #musicControl {
  position: relative;
  width: 150px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.wrap .title-music-control #musicControl:hover span {
  display: block;
}
.wrap .title-music-control #musicControl.play {
  filter: grayscale(0%);
}
.wrap .title-music-control #musicControl.play span {
  display: block;
}
.wrap .title-music-control #musicControl img {
  width: 100%;
  border: 5px solid #dcd3aa;
}
.wrap .title-music-control #musicControl span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #dcd3aa;
}
.wrap .circle {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 30px auto 0;
  border: 35px solid #dcd3aa;
  border-radius: 50%;
  background-color: #80c0b0;
}
.wrap .circle .circle-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  border: 28px dotted white;
  border-radius: inherit;
  animation: light 1s linear infinite alternate-reverse;
}
@-webkit-keyframes light {
  from {
    box-shadow: 0 0 130px rgba(255, 255, 0, 0.8);
  }
  to {
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.3);
  }
}
@keyframes light {
  from {
    box-shadow: 0 0 130px rgba(255, 255, 0, 0.8);
  }
  to {
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.3);
  }
}
.wrap .circle .circle-dot .main-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrap .circle .circle-dot .main-img img {
  width: 490px;
  filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.2));
}
.wrap #menu1, .wrap #menu2, .wrap #menu3 {
  position: absolute;
  cursor: pointer;
}
.wrap #menu1 {
  left: 50px;
  top: 170px;
  transform: rotateZ(-20deg);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.wrap #menu1:hover {
  background-color: #dcd3aa;
}
.wrap #menu1 img {
  width: 200px;
}
.wrap #Con1 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #dcd3aa;
  padding: 20px 0 100px;
  margin-top: 100%;
  transition: margin-top 0.4s linear;
}
.wrap #Con1.on {
  margin-top: 0;
}
.wrap #Con1 .close {
  position: absolute;
  right: 40px;
  top: 30px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}
.wrap #Con1 .close:hover {
  transform: scale(1.2);
}
.wrap #Con1 .tab {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border: 5px solid #0a71b3;
  border-radius: 30px;
  background-color: #fff;
}
.wrap #Con1 .tab li {
  width: 25%;
  text-align: center;
  cursor: pointer;
  padding: 30px 20px;
}
.wrap #Con1 .tab li + li {
  border-left: 3px dashed #0a71b3;
}
.wrap #Con1 .tab li.on {
  color: #e12428;
}
.wrap #Con1 .tab li:hover span {
  transform: scale(1.4);
}
.wrap #Con1 .tab li span {
  display: block;
  font-size: 30px;
  font-weight: 600;
  pointer-events: none;
  transition: all 0.3s;
}
.wrap #Con1 .tab-con-wrap {
  margin-top: 50px;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex {
  display: flex;
  justify-content: space-between;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div {
  position: relative;
  width: 48%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: #fff;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .tab-con-list {
  width: 100%;
  height: 100%;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .tab-con-list li {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .tab-con-list li.on {
  display: block;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .tab-con-list li img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .tab-con-list li:nth-child(3) img {
  width: auto;
  height: 370px;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .tab-con-list li:nth-child(4) img {
  width: 200px;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #0a71b3;
}
.wrap #Con1 .tab-con-wrap .tab-con-flex > div .name strong {
  font-size: 40px;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */